# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.*.swp

# Test binary, build with `go test -c`
*.test

# Environment variables
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Terraform template
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

/.idea/
/crash.log
/terraform-provider-launchdarkly
/build/
/dist

website/vendor
website/.vagrant
website/.bundle
website/build
website/node_modules

.vscode/