minimum_pre_commit_version: "2.9.3"

repos:
  - repo: https://github.com/ashanbrown/gofmts
    rev: v0.1.4
    hooks:
      - id: gofmts

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.63.2
    hooks:
      - id: golangci-lint

  - repo: local
    hooks:
      - id: make-generate-no-change
        name: Make generate does not create additional changes
        description: Ensures make generate does not create additional changes
        entry: bash -c 'make generate'
        pass_filenames: false
        language: system
