---
page_title: "LaunchDarkly: Use ignore_changes to create resources with Terraform and update them in the UI"
description: |-
  This guide explains when and how to use the ignore_changes lifecycle meta-argument to avoid having Terraform try to update resources that were modified.
---

# Using `ignore_changes`

This guide explains when and how to use the [ignore_changes lifecycle meta-argument](https://www.terraform.io/language/meta-arguments/lifecycle#ignore_changes) to avoid having Terraform try to update resources that were modified.

## When to use `ignore_changes`

### Use Terraform to create a resource in LaunchDarkly, and manage the resource through the UI

For example, you might provision teams in LaunchDarkly using Terraform, then allow team members to add new members to the team in the UI without needing to update Terraform. This is a case where you simply want to _create_ the team using Terraform, but then manage the team for the rest of it's lifecycle through the UI. In order to continue managing the team using Terraform you would need to manually update your manifest to reflect the current state of the team, and then apply.

{{ tffile "examples/guides/use-ignore-changes/create-team.tf"}}

### When a resource is modified as a side-effect of other actions in LaunchDarkly

Sometimes resources in LaunchDarkly are modified as a side-effect of other actions in LaunchDarkly. For example, if you create an experiment using a flag, and then try to apply a Terraform manifest that manages that flag, it will fail. As a workaround for this you can use `ignore_changes` to tell Terraform to not try to update the modified resources.

{{ tffile "examples/guides/use-ignore-changes/side-effect.tf"}}
