---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

### Destination-Specific Configs

Depending on the destination kind, the `config` argument should contain the following fields:

#### Kinesis

- `region` - (Required) - AWS region your Kinesis resource resides in.

- `role_arn` - (Required) - Your AWS stream ARN in the format `"arn:aws:iam::{account-id}:role/{role}"`, ex. `"arn:aws:iam::123456789012:role/marketingadmin"`. Follow the directions in the [docs](https://docs.launchdarkly.com/integrations/data-export/kinesis) to set up the necessary roles if need be.

- `stream_name` - (Required) - The name of your Kinesis stream.

#### Google Pub/Sub

- `project` - (Required) - The name of your Pub/Sub project.

- `topic` - (Required) - The name of your Pub/Sub topic.

#### mParticle

- `api_key` - (Required) - Your mParticle API key.

- `secret` - (Required) - Your mParticle secret.

- `user_identity` - (Optional) - Your mParticle user ID as a string. If defined, the LaunchDarkly context kind will be implicitly assumed to be "user". At least one of `user_identity` or `user_identities` must be defined.

- `user_identities` - (Optional) - A json-encoded list of objects associating mParticle user identities with LaunchDarkly context kinds. At least one of `user_identity` or `user_identities` must be defined.

- `environment` - (Required) - The mParticle environment. Must be 'production' or 'development'.

### Azure Event Hubs

- `namespace` - (Required) - The Azure namespace where you want LaunchDarkly to export events.

- `name` - (Required) -

- `policy_name` - (Required) - The name of your Azure policy. Follow the directions in the [docs](https://docs.launchdarkly.com/home/data-export/event-hub#creating-a-policy-and-key-in-azure-event-hub) to set up a policy.

- `policy_key` - (Required) - Your Azure policy key. The name of your Azure policy. Follow the directions in the [docs](https://docs.launchdarkly.com/home/data-export/event-hub#creating-a-policy-and-key-in-azure-event-hub) to set up a policy.

### Segment

- `write_key` - (Required) - Your Segment write key.

- `user_id_context_kind` - (Required) - The context kind you would like to associated with the data exported to segment.

- `anonymous_id_context_kind` - (Required) - The context kind you would like to associated with anonymous user data exported to segment.

## Import

You can import a data export destination using the destination's full ID in the format `project_key/environment_key/id`.

For example:

{{ codefile "sh" .ImportFile | trimspace }}
