---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import a Relay Proxy configuration using the configuration's unique 24-character ID. For example:

{{ codefile "sh" .ImportFile | trimspace }}

You can find the unique Relay Proxy ID in the Relay Proxy edit page URL, which you can locate by clicking the three-dot menu on your Relay Proxy item in the UI and selecting "Edit configuration":

```
https://app.launchdarkly.com/settings/relay/THIS_IS_YOUR_RELAY_PROXY_ID/edit
```
