name: Open PR when integration configs change
on:
  schedule:
    # Run every 30 minutes
    - cron: "5,35 * * * *"
  push:
    branches:
      - hbarrow/REL-4675/clean-up-actions
jobs:
  generate-manifest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: scripts/codegen/go.mod
          cache: true
          cache-dependency-path: |
            scripts/codegen/go.sum
            go.sum

      - run: make generate
        env:
          LAUNCHDARKLY_ACCESS_TOKEN: ${{secrets.LAUNCHDARKLY_ACCESS_TOKEN}}

      - name: Create Pull request
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7.0.2
        with:
          branch: regenerate-integration-configs/patch
          delete-branch: true
          commit-message: "[bot] Regenerate integration configs"
          title: "[bot] Regenerate integration configs"
          body: |
            This PR regenerates `launchdarkly/integration_configs_generated.go` based on recent changes to the [integrations manifest endpoint](https://app.launchdarkly.com/api/v2/integration-manifests).

            The changes were made by running:
            ```sh
            make generate
            ```
          labels: bot
